h1 Welcome to bashtetikn

p This provides tools to help validate web pages, gathering validation results from multiple sources, providing a single interface for both requests and responses.

p Why "bashtetikn"?
blockquote bashtetikn (Yiddish, verb, /bɛ-oSH-tɛk-in/): To validate, certify, or confirm
