h1 Welcome to bashtetikn

h2 This provides tools to help validate web pages, gathering validation results from multiple sources, providing a single interface for both requests and responses.

h2 Why "bashtetikn"? It's Yiddish for "To validate".
bq bashtetikn (Yiddish, verb, /bɛ-oSH-tɛk-in/): To validate, certify, or confirm
