// Vaiables copied from Foundation. TODO: re-arrange to use Foundation vars (Rails 7?)
$body-background: White; 
$primary-color: #1779ba;
$secondary-color: #d6eaf8;

// App vars
$text-color-dark-on-light: Black;
$text-color-light-on-dark: White;
$default-padding: 6px;
